body {
    font-family: "Dm" sans-serif;
    background-color:#F4FAF9;
    color:#334E68;
    line-height: 1.4;
}

.nav-item{
    font-size: large;
    font-weight: bold;
}

.carousel-item img {
    width: 100%;
    height: 400px;          
    object-fit: cover; 
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.2);
  color:black;
    backdrop-filter: blur(5px);
    padding: 5px 10px;
}

.health-card {
    height: 100%;
    display: flex;
    flex-direction: column;
     background-color:beige;
}


.health-card .card-title {
    color: #0F4C5C;
    font-weight: bold;
}

.health-card .card-img-top {
    height: 150px;
    object-fit: cover;
}
.health-card .card-img-body{
    min-height: 180px;
}

 .card-text {
    color: #526777;
    font-size: 20px;
}

.sidebar-box{
    height: 110px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 background-color: #E9F5F2;
  color:  #0F4C5C;
}

